* {
  margin: 0px;
  padding: 0px;
}

.s1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2 {
  position: absolute;
  left: 94px;
  top: 82px;
  width: 512px;
  height: 91px;
  animation: slideInRight 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}