* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_1, .s9_2, .s9_3, .s9_4, .s9_5, .s9_6 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.s9_pop1 {
	position: absolute;
  left: 17px;
  top: 297px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_pop2 {
	position: absolute;
  left: 25px;
  top: 445px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_pop3 {
	position: absolute;
  left: 179px;
  top: 593px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_pop4 {
	position: absolute;
  left: 552px;
  top: 593px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_pop5 {
	position: absolute;
  left: 697px;
  top: 444px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_pop6 {
	position: absolute;
  left: 712px;
  top: 296px;
  width: 299px;
  height: 131px;
	z-index: 10;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}
