* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_1, .s9_2, .s9_3, .s9_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.s9_pop1 {
	position: absolute;
  left: 111px;
  top: 392px;
  width: 206px;
  height: 217px;
	z-index: 10;
}

.s9_pop2 {
	position: absolute;
  left: 317px;
  top: 392px;
  width: 195px;
  height: 217px;
	z-index: 10;
}

.s9_pop3 {
	position: absolute;
  left: 512px;
  top: 392px;
  width: 189px;
  height: 217px;
	z-index: 10;
}

.s9_pop4 {
	position: absolute;
  left: 701px;
  top: 392px;
  width: 213px;
  height: 217px;
	z-index: 10;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}