*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
  left: 613px;
  top: 0px;
  width: 291px;
  height: 526px;
	animation: slideInDown 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s2_3 {
	position: absolute;
  left: 675px;
  top: 89px;
  width: 167px;
  height: 141px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_4 {
	position: absolute;
  left: 629px;
  top: 257px;
  width: 278px;
  height: 270px;
	animation: stampIn 0.2s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 2;
}

.wrap {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: fadeOutUp 0.5s;
	animation-delay: 3.3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_5 {
	position: absolute;
  left: 590px;
  top: 309px;
  width: 434px;
  height: 172px;
	animation: slideInRight 0.5s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}


.s2_6 {
	position: absolute;
  left: 673px;
  top: 232px;
  width: 325px;
  height: 62px;
	animation: fadeInUp 0.5s;
	animation-delay: 4.3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_7 {
	position: absolute;
  left: 645px;
  top: 341px;
  width: 353px;
  height: 113px;
	animation: zoomIn 0.5s;
	animation-delay: 5.3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s2_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s2_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}