*{
	margin: 0px;
	padding: 0px;
}

.s1_0 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.wrap {
	position: absolute;
	width: 1024px;
	height: 768px;
	animation: fadeOutUp 0.5s;
	animation-delay: 5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_1 {
	position: absolute;
  left: 316px;
  top: 69px;
  width: 384px;
  height: 180px;
	animation: zoomIn 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 15;
}

.s1_2 {
	position: absolute;
  left: 316px;
  top: 294px;
  width: 393px;
  height: 41px;
	animation: fadeInUpBig 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 148px;
  top: 363px;
  width: 336px;
  height: 128px;
	animation: fadeInLeft 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 536px;
  top: 363px;
  width: 431px;
  height: 128px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.25s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 316px;
  top: 493px;
  width: 384px;
  height: 191px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.50s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 424px;
  top: 380px;
  width: 167px;
  height: 168px;
	animation: zoomIn 0.5s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_7 {
	position: absolute;
  left: 359px;
  top: 321px;
  width: 307px;
  height: 317px;
	animation: stampIn 0.3s;
	animation-delay: 5.5s;
	animation-fill-mode: both;
	z-index: 15;
}

.s1_8 {
	position: absolute;
  left: 0px;
  top: 700px;
  width: 1024px;
  height: 68px;
	animation: none 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s1_9 {
	position: absolute;
  left: 465px;
  top: 478px;
  width: 186px;
  height: 40px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}