* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.option1 {
  position: absolute;
  left: 431px;
  top: 325px;
  width: 230px;
  height: 199px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}

.option2 {
  position: absolute;
  left: 705px;
  top: 325px;
  width: 230px;
  height: 199px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_2 {
  position: absolute;
  left: 603px;
  top: 338px;
  width: 44px;
  height: 44px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 874px;
  top: 338px;
  width: 44px;
  height: 44px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 3;
}

.s1_4 {
  position: absolute;
  left: 463px;
  top: 568px;
  width: 433px;
  height: 81px;
  animation: flipInX 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.predict {
  position: absolute;
  left: 574px;
  top: 576px;
  width: 216px;
  height: 69px;
  animation: pulse 0.5s 2;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  display: none;
  z-index: 10;
}