* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 715px;
  top: 618px;
  width: 249px;
  height: 60px;
  animation: pulse 1s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_3 {
  position: absolute;
  left: 75px;
  top: 185px;
  width: 864px;
  height: 109px;
  animation: fadeInDown 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s1_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 10;
}

.s1_5 {
  position: absolute;
  left: 170px;
  top: 61px;
  width: 675px;
  height: 76px;
  animation: fadeInDown 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 15;
}

.s1_6 {
  position: absolute;
  left: 202px;
  top: 173px;
  width: 627px;
  height: 116px;
  animation: zoomIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  display: none;
  z-index: 15;
}