* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 510px;
  top: 242px;
  width: 429px;
  height: 351px;
  animation: fadeInLeft 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 8;
}

.pop1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 170px;
	height: 150px;
	z-index: 10;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 12;
}
